:root {
  font-family: "Degular Bold", sans-serif;
  line-height: 1.5;
  font-weight: 700;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
}

body{
    margin: 0;
    padding: 0;
}


